* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  margin: 10px 20px;
  padding: 0px;
  background: url("/resources/workout.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-left img {
  height: 40px;
  width: 40px;
  filter: invert();
  padding-left: 30%;
}

.header-left div {
  text-align: center;
  font-size: 12px;
}
.header-center {
  display: flex;
  margin: 26px 2px;
}
.header-right {
  display: flex;
}

.header-center li {
  font-size: 20px;
  list-style-type: none;
}
.header-center li a {
  color: white;
  text-decoration: none;
  padding: 25px;
}

.header-center li a:hover {
  text-decoration: underline;
  color: brown;
}

.btn {
  background: top;
  height: 40px;
  width: 40px;
  margin: 5px;
  border: 0px;
  cursor: pointer;
}
.btn img {
  height: 100%;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 4vw 65vw;
  padding: 1vw;
  width: 30vw;
  align-items: center;
  background-color: #24242466;
}

#form input {
  padding: 4px;
  margin: 10px;
  width: 330px;
  font-size: 16px;
  border-radius: 10px;
}

#form .btn {
  border-radius: 10px;
  color: #000000;
  padding: 10px;
  width: 340px;
  margin: 10px;
  background-color: #c4beaa;
}
#form .btn:hover {
  background-color: #b89525;
}

.formContainer h1 {
  color: #f64545;
  border-radius: 10px;
  padding: 10px;
  width: 340px;
  margin: 10px;
  text-align: center;
}
